# datasets
/data/*
!/data/.gitkeep
!/data/raw/
/data/raw/*
!/data/raw/*.dvc
# checkpoints / models
models/*
!models/.gitkeep
*.pt
*.pth
*.ckpt

# secrets
.env

# python
__pycache__/
.venv/

# experiment tracking
mlruns/
